In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("Forest_fire_prevention.csv")

df.head()

     X    Y  month  day  FFMC   DMC     DC  ISI  temp    RH  wind  rain  area
0  7.0  5.0    3.0  fri  86.2  26.2   94.3  5.1   8.2  51.0   6.7   0.0   0.0
1  7.0  4.0   10.0  tue  90.6  35.4  669.1  6.7  18.0  33.0   0.9   0.0   0.0
2  7.0  4.0   10.0  sat  90.6  43.7  686.9  6.7  14.6  33.0   1.3   0.0   0.0
3  8.0  6.0    3.0  fri  91.7  33.3   77.5  9.0   8.3  97.0   4.0   0.2   0.0
4  8.0  6.0    3.0  sun  89.3  51.3  102.2  9.6  11.4  99.0   1.8   0.0   0.0

In [25]:
df["area"].max()

6.995619625

In [26]:
df[df["area"] == 6.995619625]

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
516,6.0,5.0,9.0,sat,92.5,121.1,674.4,8.6,25.1,27.0,4.0,0.0,6.99562

In [27]:
df[df["area"] == 0]

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7.0,5.0,3.0,fri,86.2,26.2,94.3,5.1,8.2,51.0,6.7,0.0,0.0
1,7.0,4.0,10.0,tue,90.6,35.4,669.1,6.7,18.0,33.0,0.9,0.0,0.0
2,7.0,4.0,10.0,sat,90.6,43.7,686.9,6.7,14.6,33.0,1.3,0.0,0.0
3,8.0,6.0,3.0,fri,91.7,33.3,77.5,9.0,8.3,97.0,4.0,0.2,0.0
4,8.0,6.0,3.0,sun,89.3,51.3,102.2,9.6,11.4,99.0,1.8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2.0,4.0,8.0,fri,91.0,166.9,752.6,7.1,25.9,41.0,3.6,0.0,0.0
243,1.0,2.0,8.0,fri,91.0,166.9,752.6,7.1,25.9,41.0,3.6,0.0,0.0
244,8.0,6.0,8.0,sun,81.6,56.7,665.6,1.9,27.8,35.0,2.7,0.0,0.0
245,1.0,4.0,8.0,sat,94.4,146.0,614.7,11.3,25.6,42.0,4.0,0.0,0.0
246,6.0,3.0,11.0,tue,79.5,3.0,106.7,1.1,11.8,31.0,4.5,0.0,0.0

In [28]:
df2 = df[df["area"] == 0]
df2

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7.0,5.0,3.0,fri,86.2,26.2,94.3,5.1,8.2,51.0,6.7,0.0,0.0
1,7.0,4.0,10.0,tue,90.6,35.4,669.1,6.7,18.0,33.0,0.9,0.0,0.0
2,7.0,4.0,10.0,sat,90.6,43.7,686.9,6.7,14.6,33.0,1.3,0.0,0.0
3,8.0,6.0,3.0,fri,91.7,33.3,77.5,9.0,8.3,97.0,4.0,0.2,0.0
4,8.0,6.0,3.0,sun,89.3,51.3,102.2,9.6,11.4,99.0,1.8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2.0,4.0,8.0,fri,91.0,166.9,752.6,7.1,25.9,41.0,3.6,0.0,0.0
243,1.0,2.0,8.0,fri,91.0,166.9,752.6,7.1,25.9,41.0,3.6,0.0,0.0
244,8.0,6.0,8.0,sun,81.6,56.7,665.6,1.9,27.8,35.0,2.7,0.0,0.0
245,1.0,4.0,8.0,sat,94.4,146.0,614.7,11.3,25.6,42.0,4.0,0.0,0.0
246,6.0,3.0,11.0,tue,79.5,3.0,106.7,1.1,11.8,31.0,4.5,0.0,0.0

In [29]:
df2["X"].mean()

4.518218623481781

In [30]:
df["Y"].mode()

0    4.0
Name: Y, dtype: float64

In [31]:
df.groupby("X")["area"].sum().sort_values(ascending=False).head(10)

X
4.0    114.240774
6.0    101.925461
2.0     82.300713
8.0     80.829959
7.0     64.945940
1.0     55.297057
3.0     30.397233
5.0     23.878173
9.0     20.585010
Name: area, dtype: float64

In [32]:
df.groupby("X")["area"].mean().sort_values(ascending=False).head(10)

X
9.0    1.583462
8.0    1.325081
4.0    1.255393
6.0    1.185180
1.0    1.152022
2.0    1.127407
7.0    1.082432
5.0    0.795939
3.0    0.552677
Name: area, dtype: float64